<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <h2>{{welcomeMessage}}</h2>
        <div class="container">
            Blog1 

        </div>
        <div class="container">
            Blog 2
        </div>
        {{> footer}}
    </body>
</html>