<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <p>{{welcomeMessage}}</p>
        <div class="container">
            <div class="card" style="width:400px">
               <img class="card-img-top" src="/profile.jpeg" alt="Card image" style="width:100%">
               <div class="card-body">
                  <h4 class="card-title">Sakait Bhandari</h4>
                  <p class="card-text">Computer Science Engineer.Web Developer</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
               </div>
            </div>
        </div>
        {{> footer}}
    </body>
</html>