<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>HomePage</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>We are updating the site</p>
    </body>
</html>